<div>
  Player 1 : <%= @game.player1.name %><br />
    <%= @game.player1.name %>'s Hitpoints <%= @game.player1.hit_points%> <br/>

  Player 2 : <%= @game.player2.name %><br />

    <%= @game.player2.name %>'s Hitpoints <%= @game.player2.hit_points%>
</div>

<div>
    <form action='/attack' method="post">
      <input type="submit" value="Attack">
    </form>
</div>
