<div>
  Player 1 : <%= @player1.name %><br />
    <%= @player1.name %>'s Hitpoints <%= @player1.hit_points%> <br/>

  Player 2 : <%= @player2.name %><br />

    <%= @player2.name %>'s Hitpoints <%= @player2.hit_points%>
</div>

<div>
    <form action='/attack' method="post">
      <input type="submit" value="Attack">
    </form>
</div>
