<div>
  Player 1 : <%= session[:player1].name %><br />
    <%= session[:player1].name %>'s Hitpoints  <br/>

  Player 2 : <%= session[:player2].name %><br />

    <%= session[:player2].name %>'s Hitpoints <%= session[:player_2_hit_points]%>
</div>

<div>
    <form action='/attack' method="post">
      <input type="submit" value="Attack">
    </form>
</div>
